In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("D:\TimeSeries_COVID_News.xlsx")

In [3]:
df

,Unnamed: 0,Date,News,Agg News
0,0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...
...,...,...,...,...
141,2,2020-04-03 00:00:00,"2,450. Two deaths reported from Sindh. One dea...","Updates: Pakistan: \n During last 24 hours, 15..."
142,3,2020-04-03 00:00:00,deaths 35. •,"Updates: Pakistan: \n During last 24 hours, 15..."
143,4,2020-04-03 00:00:00,Global:,"Updates: Pakistan: \n During last 24 hours, 15..."
144,5,2020-04-03 00:00:00,"Total cases:1,015,709 Total Deaths: 53,069 •","Updates: Pakistan: \n During last 24 hours, 15..."
145,6,2020-04-03 00:00:00,Total number of countries/regions affected: 181 •,"Updates: Pakistan: \n During last 24 hours, 15..."

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df

,Date,News,Agg News
0,11-Mar-2020,Updates: Pakistan:,Updates: Pakistan: \n Three new cases have bee...
1,11-Mar-2020,Three new cases have been confirmed in the pas...,Updates: Pakistan: \n Three new cases have bee...
2,11-Mar-2020,Number of calls to passengers returning from I...,Updates: Pakistan: \n Three new cases have bee...
3,11-Mar-2020,Global:,Updates: Pakistan: \n Three new cases have bee...
4,11-Mar-2020,"Total cases: 118,887, Total Deaths: 4,290 •",Updates: Pakistan: \n Three new cases have bee...
...,...,...,...
141,2020-04-03 00:00:00,"2,450. Two deaths reported from Sindh. One dea...","Updates: Pakistan: \n During last 24 hours, 15..."
142,2020-04-03 00:00:00,deaths 35. •,"Updates: Pakistan: \n During last 24 hours, 15..."
143,2020-04-03 00:00:00,Global:,"Updates: Pakistan: \n During last 24 hours, 15..."
144,2020-04-03 00:00:00,"Total cases:1,015,709 Total Deaths: 53,069 •","Updates: Pakistan: \n During last 24 hours, 15..."
145,2020-04-03 00:00:00,Total number of countries/regions affected: 181 •,"Updates: Pakistan: \n During last 24 hours, 15..."

In [16]:
df.rename(columns={'Agg News':'Agg_News'},inplace=True)

In [17]:
df['Date']=pd.to_datetime(df.Date)

In [18]:
df['Date']

0     2020-03-11
1     2020-03-11
2     2020-03-11
3     2020-03-11
4     2020-03-11
         ...
141   2020-04-03
142   2020-04-03
143   2020-04-03
144   2020-04-03
145   2020-04-03
Name: Date, Length: 146, dtype: datetime64[ns]

In [19]:
df.dtypes

Date        datetime64[ns]
News                object
Agg_News            object
dtype: object

In [20]:
df.isnull().sum()

Date        0
News        0
Agg_News    0
dtype: int64

In [21]:
df.index

RangeIndex(start=0, stop=146, step=1)

In [22]:
df.columns

Index(['Date', 'News', 'Agg_News'], dtype='object')

In [23]:
df.describe()

,Date,News,Agg_News
count,146,146,146
unique,24,97,24
top,2020-04-03 00:00:00,Updates: Pakistan:,"Updates: Pakistan: \n During last 24 hours, 15..."
freq,7,24,7
first,2020-03-11 00:00:00,NaN,NaN
last,2020-04-03 00:00:00,NaN,NaN

In [24]:
df.to_excel('D:\TimeSeries_COVID_News.xlsx')