In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_excel("D:\TimeSeries_Quarantine_Details.xlsx")

In [6]:
df.head()

,Unnamed: 0,Regions,Quarantine facilities (n),No. of arrivals in last 24 hrs,Cumulative no of persons present,Date
0,0,ICT,1,0,24,2020-04-01
1,1,Punjab,4,0,2956,2020-04-01
2,2,Sindh,5,0,1388,2020-04-01
3,3,KP,92,181,3260,2020-04-01
4,4,Balochistan,9,0,366,2020-04-01

In [7]:
df.rename(columns={'Quarantine facilities (n)':'Quarantine_facilities_(n)','No. of arrivals in last 24 hrs':'No_of_arrivals_in_last_24_hrs',
                  'Cumulative no of persons present':'Cumulative_no_of_persons_present'},inplace=True)

In [8]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
df.head()

,Regions,Quarantine_facilities_(n),No_of_arrivals_in_last_24_hrs,Cumulative_no_of_persons_present,Date
0,ICT,1,0,24,2020-04-01
1,Punjab,4,0,2956,2020-04-01
2,Sindh,5,0,1388,2020-04-01
3,KP,92,181,3260,2020-04-01
4,Balochistan,9,0,366,2020-04-01

In [10]:
df['Date']=pd.to_datetime(df.Date)

In [11]:
df['Date']

0    2020-04-01
1    2020-04-01
2    2020-04-01
3    2020-04-01
4    2020-04-01
5    2020-04-01
6    2020-04-01
7    2020-04-02
8    2020-04-02
9    2020-04-02
10   2020-04-02
11   2020-04-02
12   2020-04-02
13   2020-04-02
14   2020-04-03
15   2020-04-03
16   2020-04-03
17   2020-04-03
18   2020-04-03
19   2020-04-03
20   2020-04-03
Name: Date, dtype: datetime64[ns]

In [12]:
df.dtypes

Regions                                     object
Quarantine_facilities_(n)                    int64
No_of_arrivals_in_last_24_hrs                int64
Cumulative_no_of_persons_present             int64
Date                                datetime64[ns]
dtype: object

In [13]:
df.columns

Index(['Regions', 'Quarantine_facilities_(n)', 'No_of_arrivals_in_last_24_hrs',
       'Cumulative_no_of_persons_present', 'Date'],
      dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=21, step=1)

In [15]:
df.isnull().sum()

Regions                             0
Quarantine_facilities_(n)           0
No_of_arrivals_in_last_24_hrs       0
Cumulative_no_of_persons_present    0
Date                                0
dtype: int64

In [18]:
df.duplicated().any()

False

In [19]:
df.describe() #data is cleaned

,Quarantine_facilities_(n),No_of_arrivals_in_last_24_hrs,Cumulative_no_of_persons_present
count,21.000000,21.000000,21.000000
mean,27.666667,38.333333,1240.095238
std,33.266099,81.858007,1280.783741
min,1.000000,0.000000,24.000000
25%,5.000000,0.000000,227.000000
50%,9.000000,0.000000,526.000000
75%,47.000000,7.000000,2956.000000
max,101.000000,279.000000,3312.000000

In [20]:
df.to_excel('D:\TimeSeries_Quarantine_Details.xlsx') #file is saved with changings