In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("D:\TimeSeries_Province_Response.xlsx")

In [3]:
df.head()

,Unnamed: 0,region,Provinces Preparedness and Response,Date,Agg Provinces Preparedness and Response
0,0,Balochistan,316 newly arrived individuals screened and qua...,11-Mar-2020,316 newly arrived individuals screened and qua...
1,1,Balochistan,14 Chinese nationals quarantined at East Bay E...,11-Mar-2020,316 newly arrived individuals screened and qua...
2,2,Sindh,Staff deployed to designated quarantine facili...,11-Mar-2020,Staff deployed to designated quarantine facili...
3,3,Sindh,Training and orientation sessions for the heal...,11-Mar-2020,Staff deployed to designated quarantine facili...
4,4,KP & TD,24 High Dependency Units established across KP...,11-Mar-2020,24 High Dependency Units established across KP...

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.isnull().sum()

region                                     0
Provinces Preparedness and Response        0
Date                                       0
Agg Provinces Preparedness and Response    0
dtype: int64

In [6]:
df.dtypes

region                                     object
Provinces Preparedness and Response        object
Date                                       object
Agg Provinces Preparedness and Response    object
dtype: object

In [7]:
df['Date']=pd.to_datetime(df.Date)
df['Date']

0     2020-03-11
1     2020-03-11
2     2020-03-11
3     2020-03-11
4     2020-03-11
         ...
161   2020-04-03
162   2020-04-03
163   2020-04-03
164   2020-04-03
165   2020-04-03
Name: Date, Length: 166, dtype: datetime64[ns]

In [8]:
df.dtypes

region                                             object
Provinces Preparedness and Response                object
Date                                       datetime64[ns]
Agg Provinces Preparedness and Response            object
dtype: object

In [9]:
df.columns=df.columns.str.strip().str.replace(' ','_')

In [10]:
df.head()

,region,Provinces_Preparedness_and_Response,Date,Agg_Provinces_Preparedness_and_Response
0,Balochistan,316 newly arrived individuals screened and qua...,2020-03-11,316 newly arrived individuals screened and qua...
1,Balochistan,14 Chinese nationals quarantined at East Bay E...,2020-03-11,316 newly arrived individuals screened and qua...
2,Sindh,Staff deployed to designated quarantine facili...,2020-03-11,Staff deployed to designated quarantine facili...
3,Sindh,Training and orientation sessions for the heal...,2020-03-11,Staff deployed to designated quarantine facili...
4,KP & TD,24 High Dependency Units established across KP...,2020-03-11,24 High Dependency Units established across KP...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 4 columns):
region                                     166 non-null object
Provinces_Preparedness_and_Response        166 non-null object
Date                                       166 non-null datetime64[ns]
Agg_Provinces_Preparedness_and_Response    166 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.3+ KB

In [14]:
df.duplicated().any()

False

In [12]:
df.describe() # data is cleaned

,region,Provinces_Preparedness_and_Response,Date,Agg_Provinces_Preparedness_and_Response
count,166,166,166,166
unique,8,155,24,131
top,Balochistan,Distribution of N95 masks across the province ...,2020-03-15 00:00:00,Involvement of WHO staff to provide support in...
freq,36,3,10,3
first,NaN,NaN,2020-03-11 00:00:00,NaN
last,NaN,NaN,2020-04-03 00:00:00,NaN

In [15]:
df.to_excel("D:\TimeSeries_Province_Response.xlsx")