In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('D:\TimeSeries_NH_Response.xlsx')

In [3]:
df.head()

,Unnamed: 0,Date,NIH Preparedness and Response,Agg NIH Preparedness and Response
0,0,11-Mar-2020,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,1,11-Mar-2020,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,2,11-Mar-2020,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,3,11-Mar-2020,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,0,12-Mar-2020,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.isnull().sum()

Date                                 0
NIH Preparedness and Response        0
Agg NIH Preparedness and Response    0
dtype: int64

In [6]:
df.dtypes

Date                                 object
NIH Preparedness and Response        object
Agg NIH Preparedness and Response    object
dtype: object

In [7]:
df['Date']=pd.to_datetime(df.Date)

In [8]:
df.dtypes

Date                                 datetime64[ns]
NIH Preparedness and Response                object
Agg NIH Preparedness and Response            object
dtype: object

In [9]:
df['Date']

0    2020-03-11
1    2020-03-11
2    2020-03-11
3    2020-03-11
4    2020-03-12
        ...
60   2020-04-02
61   2020-04-02
62   2020-04-03
63   2020-04-03
64   2020-04-03
Name: Date, Length: 65, dtype: datetime64[ns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 3 columns):
Date                                 65 non-null datetime64[ns]
NIH Preparedness and Response        65 non-null object
Agg NIH Preparedness and Response    65 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 1.6+ KB

In [11]:
df.columns=df.columns.str.strip().str.replace(' ','_')

In [12]:
df.head()

,Date,NIH_Preparedness_and_Response,Agg_NIH_Preparedness_and_Response
0,2020-03-11,BSL-3 mobile lab with state of art equipment h...,BSL-3 mobile lab with state of art equipment h...
1,2020-03-11,IPC trainings have been completed at Gilgit an...,BSL-3 mobile lab with state of art equipment h...
2,2020-03-11,Training of the GB lab staff has been conducte...,BSL-3 mobile lab with state of art equipment h...
3,2020-03-11,IPC training is in progress for FG Hospital st...,BSL-3 mobile lab with state of art equipment h...
4,2020-03-12,BSL-3 mobile lab is ready for testing. •,BSL-3 mobile lab is ready for testing. • \n I...

In [13]:
df.duplicated().any()

False

In [14]:
df.describe() #data is cleaned

,Date,NIH_Preparedness_and_Response,Agg_NIH_Preparedness_and_Response
count,65,65,65
unique,24,21,11
top,2020-03-11 00:00:00,Contact tracing of confirmed cases being carri...,Contact tracing of confirmed cases being carri...
freq,4,9,21
first,2020-03-11 00:00:00,NaN,NaN
last,2020-04-03 00:00:00,NaN,NaN

In [16]:
df.to_excel("D:\TimeSeries_NH_Response.xlsx") #save the file with changings