In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("D:\TimesSeries_NIH_Risk.xlsx")

In [3]:
df.head()

   Unnamed: 0         Date Risk Assessment NIH
0           0  11-Mar-2020           MODERATE.
1           0  12-Mar-2020           MODERATE.
2           0  13-Mar-2020           MODERATE.
3           0  14-Mar-2020           MODERATE.
4           0  15-Mar-2020            Moderate

In [4]:
df.isnull().sum()

Unnamed: 0             0
Date                   0
Risk Assessment NIH    0
dtype: int64

In [6]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
df.head()

          Date Risk Assessment NIH
0  11-Mar-2020           MODERATE.
1  12-Mar-2020           MODERATE.
2  13-Mar-2020           MODERATE.
3  14-Mar-2020           MODERATE.
4  15-Mar-2020            Moderate

In [8]:
df.columns=df.columns.str.strip().str.replace(' ','_')

In [9]:
df.dtypes

Date                   object
Risk_Assessment_NIH    object
dtype: object

In [10]:
df['Date']=pd.to_datetime(df.Date)
df['Date']

0    2020-03-11
1    2020-03-12
2    2020-03-13
3    2020-03-14
4    2020-03-15
5    2020-03-16
6    2020-03-17
7    2020-03-18
8    2020-03-19
9    2020-03-20
10   2020-03-21
11   2020-03-22
12   2020-03-23
13   2020-03-24
14   2020-03-25
15   2020-03-26
16   2020-03-27
17   2020-03-28
18   2020-03-29
19   2020-03-30
20   2020-03-31
21   2020-04-01
22   2020-04-02
23   2020-04-03
Name: Date, dtype: datetime64[ns]

In [11]:
df.dtypes

Date                   datetime64[ns]
Risk_Assessment_NIH            object
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
Date                   24 non-null datetime64[ns]
Risk_Assessment_NIH    24 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 512.0+ bytes

In [13]:
df.describe()

                       Date Risk_Assessment_NIH
count                    24                  24
unique                   24                   3
top     2020-03-13 00:00:00                High
freq                      1                  16
first   2020-03-11 00:00:00                 NaN
last    2020-04-03 00:00:00                 NaN

In [14]:
df.to_excel("D:\TimesSeries_NIH_Risk.xlsx")