In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_excel("D:\TimeSeries_Action_Call.xlsx")

In [29]:
df.head()

,number,Returnees,Advised_Self_Quarantine,Cumulative_no_offirst_time_calls,Cumulative_follow_up_calls,Date,First_time_calls_inpast_24_hrs,Follow_up_calls_inpast_24_hrs
0,0,Returnees from Iran,0,9459,2553,2020-03-11,0,353
1,1,Returnees from China,11,5342,7746,2020-03-11,17,400
2,2,Returnees from Iran,14,9475,3221,2020-03-12,16,668
3,3,Returnees from China,7,5352,7855,2020-03-12,10,109
4,4,Returnees from Iran,0,9475,3853,2020-03-13,0,632

In [30]:
df.rename(columns = {'Advised Self-Quarantine':'Advised_Self_Quarantine','Cumulative no offirst-time calls':'Cumulative_no_offirst_time_calls',
                   'Cumulativefollow-up calls':'Cumulative_follow_up_calls','First-time calls inpast 24 hrs':'First_time_calls_inpast_24_hrs',
                    'Follow-up calls inpast 24 hrs':'Follow_up_calls_inpast_24_hrs'
                    },inplace=True)

In [33]:
df.drop('number',axis=1,inplace=True)

In [34]:
df.head()

,Returnees,Advised_Self_Quarantine,Cumulative_no_offirst_time_calls,Cumulative_follow_up_calls,Date,First_time_calls_inpast_24_hrs,Follow_up_calls_inpast_24_hrs
0,Returnees from Iran,0,9459,2553,2020-03-11,0,353
1,Returnees from China,11,5342,7746,2020-03-11,17,400
2,Returnees from Iran,14,9475,3221,2020-03-12,16,668
3,Returnees from China,7,5352,7855,2020-03-12,10,109
4,Returnees from Iran,0,9475,3853,2020-03-13,0,632

In [35]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [36]:
df.columns

Index(['Returnees', 'Advised_Self_Quarantine',
       'Cumulative_no_offirst_time_calls', 'Cumulative_follow_up_calls',
       'Date', 'First_time_calls_inpast_24_hrs',
       'Follow_up_calls_inpast_24_hrs'],
      dtype='object')

In [37]:
df.values

array([['Returnees from Iran', 0, 9459, 2553,
        Timestamp('2020-03-11 00:00:00'), 0, 353],
       ['Returnees from China', 11, 5342, 7746,
        Timestamp('2020-03-11 00:00:00'), 17, 400],
       ['Returnees from Iran', 14, 9475, 3221,
        Timestamp('2020-03-12 00:00:00'), 16, 668],
       ['Returnees from China', 7, 5352, 7855,
        Timestamp('2020-03-12 00:00:00'), 10, 109],
       ['Returnees from Iran', 0, 9475, 3853,
        Timestamp('2020-03-13 00:00:00'), 0, 632],
       ['Returnees from China', 10, 5362, 8041,
        Timestamp('2020-03-13 00:00:00'), 10, 186],
       ['Returnees from Iran', 3, 9480, 4182,
        Timestamp('2020-03-14 00:00:00'), 5, 329],
       ['Returnees from China', 5, 5370, 8083,
        Timestamp('2020-03-14 00:00:00'), 8, 42],
       ['Returnees from Iran', 0, 9480, 4625,
        Timestamp('2020-03-15 00:00:00'), 0, 443],
       ['Returnees from China', 0, 5370, 8160,
        Timestamp('2020-03-15 00:00:00'), 0, 77],
       ['Returnees from Iran', 3, 9488, 4625,
        Timestamp('2020-03-16 00:00:00'), 8, 0],
       ['Returnees from China', 11, 5394, 8160,
        Timestamp('2020-03-16 00:00:00'), 24, 0],
       ['Returnees from Iran', 0, 9488, 5063,
        Timestamp('2020-03-17 00:00:00'), 0, 438],
       ['Returnees from China', 13, 5413, 8180,
        Timestamp('2020-03-17 00:00:00'), 19, 20],
       ['Returnees from Iran', 0, 9488, 5337,
        Timestamp('2020-03-18 00:00:00'), 0, 274],
       ['Returnees from China', 16, 5439, 8899,
        Timestamp('2020-03-18 00:00:00'), 26, 719],
       ['Returnees from Iran', 0, 9488, 5337,
        Timestamp('2020-03-19 00:00:00'), 0, 32],
       ['Returnees from China', 0, 5441, 9392,
        Timestamp('2020-03-19 00:00:00'), 2, 493],
       ['Returnees from Iran', 0, 9488, 5623,
        Timestamp('2020-03-20 00:00:00'), 0, 286],
       ['Returnees from China', 8, 5458, 9392,
        Timestamp('2020-03-20 00:00:00'), 17, 0],
       ['Returnees from Iran', 1, 9489, 5977,
        Timestamp('2020-03-21 00:00:00'), 1, 354],
       ['Returnees from China', 1, 5462, 9658,
        Timestamp('2020-03-21 00:00:00'), 4, 266],
       ['Returnees from Iran', 0, 9489, 6116,
        Timestamp('2020-03-22 00:00:00'), 0, 139],
       ['Returnees from China', 3, 5473, 10109,
        Timestamp('2020-03-22 00:00:00'), 11, 451],
       ['Returnees from Iran', 0, 9489, 6289,
        Timestamp('2020-03-23 00:00:00'), 0, 173],
       ['Returnees from China', 1, 5474, 10451,
        Timestamp('2020-03-23 00:00:00'), 1, 342],
       ['Returnees from Iran', 0, 9489, 6289,
        Timestamp('2020-03-24 00:00:00'), 0, 0],
       ['Returnees from China', 0, 5474, 10875,
        Timestamp('2020-03-24 00:00:00'), 0, 424],
       ['Returnees from Iran', 0, 9489, 6474,
        Timestamp('2020-03-25 00:00:00'), 0, 185],
       ['Returnees from China', 0, 5474, 11110,
        Timestamp('2020-03-25 00:00:00'), 0, 235],
       ['Returnees from Iran', 0, 9489, 6890,
        Timestamp('2020-03-26 00:00:00'), 0, 416],
       ['Returnees from China', 0, 5474, 11460,
        Timestamp('2020-03-26 00:00:00'), 0, 350],
       ['Returnees from Iran', 0, 9489, 6923,
        Timestamp('2020-03-27 00:00:00'), 0, 133],
       ['Returnees from China', 0, 5474, 11727,
        Timestamp('2020-03-27 00:00:00'), 0, 267],
       ['Returnees from Iran', 0, 9489, 7115,
        Timestamp('2020-03-28 00:00:00'), 0, 192],
       ['Returnees from China', 0, 5474, 12247,
        Timestamp('2020-03-28 00:00:00'), 0, 520],
       ['Returnees from Iran', 0, 9489, 7115,
        Timestamp('2020-03-29 00:00:00'), 0, 0],
       ['Returnees from China', 0, 5474, 12409,
        Timestamp('2020-03-29 00:00:00'), 0, 162],
       ['Returnees from Iran', 0, 9489, 7215,
        Timestamp('2020-03-30 00:00:00'), 0, 100],
       ['Returnees from China', 0, 5474, 12480,
        Timestamp('2020-03-30 00:00:00'), 0, 71]], dtype=object)

In [38]:
df.dtypes

Returnees                                   object
Advised_Self_Quarantine                      int64
Cumulative_no_offirst_time_calls             int64
Cumulative_follow_up_calls                   int64
Date                                datetime64[ns]
First_time_calls_inpast_24_hrs               int64
Follow_up_calls_inpast_24_hrs                int64
dtype: object

In [39]:
df['Returnees'] = df.Returnees.astype(str)

In [40]:
df.dtypes

Returnees                                   object
Advised_Self_Quarantine                      int64
Cumulative_no_offirst_time_calls             int64
Cumulative_follow_up_calls                   int64
Date                                datetime64[ns]
First_time_calls_inpast_24_hrs               int64
Follow_up_calls_inpast_24_hrs                int64
dtype: object

In [41]:
df['Date']=pd.to_datetime(df.Date)

In [42]:
df['Date']

0    2020-03-11
1    2020-03-11
2    2020-03-12
3    2020-03-12
4    2020-03-13
5    2020-03-13
6    2020-03-14
7    2020-03-14
8    2020-03-15
9    2020-03-15
10   2020-03-16
11   2020-03-16
12   2020-03-17
13   2020-03-17
14   2020-03-18
15   2020-03-18
16   2020-03-19
17   2020-03-19
18   2020-03-20
19   2020-03-20
20   2020-03-21
21   2020-03-21
22   2020-03-22
23   2020-03-22
24   2020-03-23
25   2020-03-23
26   2020-03-24
27   2020-03-24
28   2020-03-25
29   2020-03-25
30   2020-03-26
31   2020-03-26
32   2020-03-27
33   2020-03-27
34   2020-03-28
35   2020-03-28
36   2020-03-29
37   2020-03-29
38   2020-03-30
39   2020-03-30
Name: Date, dtype: datetime64[ns]

In [43]:
df.dtypes

Returnees                                   object
Advised_Self_Quarantine                      int64
Cumulative_no_offirst_time_calls             int64
Cumulative_follow_up_calls                   int64
Date                                datetime64[ns]
First_time_calls_inpast_24_hrs               int64
Follow_up_calls_inpast_24_hrs                int64
dtype: object

In [44]:
df.duplicated().any()

False

In [45]:
df.describe() #data is cleaned

,Advised_Self_Quarantine,Cumulative_no_offirst_time_calls,Cumulative_follow_up_calls,First_time_calls_inpast_24_hrs,Follow_up_calls_inpast_24_hrs
count,40.000000,40.0000,40.000000,40.000000,40.000000
mean,2.675000,7459.1750,7681.400000,4.475000,257.025000
std,4.654127,2051.8788,2637.384425,7.410967,197.717033
min,0.000000,5342.0000,2553.000000,0.000000,0.000000
25%,0.000000,5461.0000,5888.500000,0.000000,94.250000
50%,0.000000,7466.5000,7480.500000,0.000000,250.500000
75%,3.000000,9488.2500,9458.500000,8.000000,404.000000
max,16.000000,9489.0000,12480.000000,26.000000,719.000000

In [46]:
df.to_excel('D:\TimeSeries_Action_Call.xlsx') #after Changings it will save them in excel file